#canvas{
  width: 100%;
  height: var(--fullheight);
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  animation: appear 1s ease 2.5s forwards;
}

@keyframes appear {
  0% {
    opacity: 0; /* Opacité de 0 */
  }
  100% {
    opacity: 1; /* Opacité de 1 */
  }
}

#herosection{
  width: 100%;
  height: var(--fullheight);
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

#herosection h1{
  opacity: 0;
  animation: appear 2s ease 1.5s forwards;
}

#customizationbutton{
  margin: auto;
  all:unset;
  background-color: #1D1D1F;
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 50px;
  aspect-ratio: 1/1;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0; /* Opacité de 0 */
  transform: translateX(10vw);
  animation: slideright 1s ease 3.5s forwards;
}

#customizationbutton::before{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  content: "Personnalisez votre iPhone";
  width: max-content;
  color: white;
  background-color: black;
  border: solid 1px rgba(255, 255, 255, 0.15);
  transform: translateX(-150px);
  border-radius: 5px;
  padding: 1rem;
  opacity: 0;
  animation: appear 1s ease 4.5s forwards;
}

#customizationbutton svg{
  width: 50%;
}

@keyframes slideright {
  0% {
    opacity: 0; /* Opacité de 0 */
    transform: translateX(10vw);
  }
  100% {
    opacity: 1; /* Opacité de 1 */
    transform: translateX(0vw);
  }
}

#lien{
  color:white;
  position: absolute;
}

#popup{
  display: flex;
  justify-content: space-between;
  width: 90%;
  height: 80%;
  background-color: black;
  border-radius: 15px;
  overflow: hidden;
}

#popupoverlay{
  height: var(--fullheight);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
}

#iphonecustom{
  opacity: 0;
  animation: appear 1s ease 0s forwards;
}

#configuratorsettings{
  width: 40%;
  padding: 2% 2% 2% 3%;
  background-color: #1D1D1F;
}

#titlecross{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#titlecross h3, #titlecross span{
  color: white;
  font-size: 2rem;
}

#closebutton{
  color: white;
  display: flex;
  justify-content:flex-end;
  align-items: center;
  column-gap: 3%;
  margin-bottom: 2rem;
}

#closebutton p{
  cursor: pointer;
}

#closelabel{
  font-size: 0.7rem;
  font-weight: 200;
}

#closecross{
  font-size: 2rem;
}

#configuratortitle{
  color: white;
  font-size: 1.85rem;
  line-height: 2.5rem;
  font-weight: 600;
}

@media screen and (max-width: 767px){

  #popup{
    align-items: center;
    flex-direction: column;
    height: var(--fullheight);
    width: 100%;
    max-width: 100%;
    border-radius: 0px;
  }

  #configuratorsettings{
    width: 100%;
    height: auto;
    background-color: #1D1D1F;
  }

  #closebutton, #configuratortitle{
    margin-left: 7%;
    margin-right: 7%;
  }

  #closebutton{
    margin-top: 1vh;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px){
  #popup{
    align-items: center;
    flex-direction: column;
    height: var(--fullheight);
    width: 100%;
    max-width: 100%;
    border-radius: 0px;
  }

  #configuratorsettings{
    width: 100%;
    height: 70vh;
    background-color: #1D1D1F;
  }

  #closebutton, #configuratortitle{
    margin-left: 7%;
    margin-right: 7%;
  }

  #closebutton{
    margin-top: 1vh;
  }
}